@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fff;
  color: #000;
}

.container {
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  background: #084690;
  position: sticky;
  top: 0;
  padding: 0.1rem 0 0.1rem 1rem;
  justify-content: space-between;
}

.mb-logo-header {
  width: 13rem;
}

.weather-container {
  position: relative;
  padding: 5rem 0 8rem;
  color: #ffffff;
  background: radial-gradient(
    circle at center,
    #ec2424,
    #df500d,
    #ee7525,
    #d49063,
    #d8a07b,
    #63a0f0,
    #3a82d4,
    #3784dd,
    #1b7dec,
    #0660d4,
    #1153a3,
    #084690,
    #084690
  );
  background-size: 100% 220%;
}

.top {
  display: flex;
  z-index: -1;
  padding: 1rem;
}

.bottom {
  position: absolute;
  z-index: 999;
  bottom: 0;
  margin: 1rem 0 -0.5rem;
}

.himalayan-img {
  width: 100vw;
}

.left-weather-container {
  flex-direction: row;
  width: 50%;
  padding: 0 1rem;
}

.right-weather-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 1rem;
}

.weather-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem 0;
  gap: 0.5rem;
}

.location > h2,
.wind > p,
.humidity > p,
.description {
  font-family: "Outfit", sans-serif !important;
  font-weight: 400;
}

.humidity,
.wind {
  font-size: 1.2rem;
  justify-content: flex-start;
}

.temp > h1 {
  font-family: "Outfit", sans-serif !important;
  font-weight: 500;
  font-size: 3rem;
}

.dropdown-section {
  margin: 2rem 0;
}

.dropdown-btn {
  width: 90vw;
  font-family: Outfit, sans-serif;
  height: 3rem;
  font-size: 1rem;
}

.flight-card {
  color: black;
  padding-bottom: 1rem;
  width: 90%;
  margin: 1rem auto;
  box-shadow: 1px 1px 10px #888888;
}

.flight-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.flight-header--left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.flight-header--left > .airlines-name {
  color: #5b5b5b;
  font-weight: 600;
}

.flight-card__body--table {
  width: 100%;
  margin: 0 auto;
}

.flight-card__body--table > tr {
  width: 100%;
  display: flex;
  gap: 5rem;
  font-size: 1.1rem;
  text-align: center;
  padding: 0.5rem 0;
  justify-content: space-evenly;
}

.table-heading {
  color: grey;
}
